<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="main.css">
</head>
<body class="grey-bg">

    <!-- 기호는 안 내용물이 html 형식으로 나옴 -->
    <%- include('nav.ejs') %>

    <div class="white-bg">
      <% for (let i = 0; i < post.length; i++){ %>
        <div class="list-box">
          <h4>
            <!-- 기호는 안에 내용물이 string 형태로 나옴 -->
            <%= post[i].title %>
          </h4>
          <p>
            <%= post[i].content %>
          </p>
        </div>
      <% } %>
    </div>
  </body>
</body>
</html>